@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
.satisfy-regular {
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
}

.lobster-regular, .card .info p {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(29, 29, 29); /* Changer la couleur de fond */
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.card {
  background-color: #ffffff; /* Changer la couleur de fond */
  border: 1px solid #ddd; /* Ajouter une bordure */
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 15px;
  overflow: hidden;
  width: 300px;
  height: 450px; /* Définir une hauteur fixe pour toutes les cartes */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Espacement uniforme entre les éléments */
  transition: transform 0.3s ease-in-out;
}
.card:hover {
  transform: scale(1.05);
  border-color: #007bff; /* Changement de la couleur de bordure au survol */
}
.card img {
  width: 100%;
  height: auto;
  flex: 1; /* Permettre à l'image de s'adapter à la hauteur de la carte */
  -o-object-fit: cover;
     object-fit: cover; /* Assurer que l'image couvre complètement l'espace */
}
.card .info {
  padding: 15px;
  text-align: center;
  flex: 1; /* Utiliser l'espace restant pour le contenu */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Espacement uniforme entre les éléments */
}
.card .info h3 {
  margin-top: 0;
  font-size: 1.2em; /* Augmenter la taille de la police */
  margin-bottom: 10px; /* Ajouter un espacement après le titre */
}
.card .info p {
  font-size: 1em; /* Augmenter la taille de la police */
  color: #555; /* Changer la couleur du texte */
  flex-grow: 1; /* Permettre au paragraphe de s'adapter à la hauteur disponible */
}
.card .info .price {
  font-weight: bold;
  color: #333;
  font-size: 1.2em; /* Augmenter la taille de la police */
}
.card .info .add-to-cart {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out; /* Ajouter une transition */
  align-self: center; /* Centrer le bouton horizontalement */
}
.card .info .add-to-cart:hover {
  background-color: #0056b3; /* Changement de couleur au survol */
}

#pay-button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
#pay-button:hover {
  background-color: #0056b3;
}

/* Home Button Styles */
.back-home-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  z-index: 1000;
}/*# sourceMappingURL=eshop.css.map */