* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
}
.back-home-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  z-index: 1000;
}
.container {
    width: 800px;
    height: 500px;
}
#canvas1 {
    width: 800px;
    height: 500px;
    border: 4px solid black;
    background: linear-gradient(to bottom, lightblue, darkblue);
}

article {
  font-family: monospace;
  color: white;
  width: 100%;
  color: black;
  font-size: 20px;
  text-shadow: 1px 1px 1px #737373; 
  background: darkblue;
  left: 0;
  top: 0;
  width: 100%;
  text-align: center;
  height: 30px;
  line-height: 30px;
  padding-right: 20px;
}
article span, article span > a {
  color: white;
}

footer {
  font-family: monospace;
  position: absolute;
  width: 100%;
  color: white;
  font-size: 15px;
  text-shadow: 1px 1px 1px #737373; 
  background: rgba(0,0,0,0.5);
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 30px;
  line-height: 30px;
  padding-right: 20px;
}
footer a{
  color: white;
}

.back-home-button {
	position: fixed;
	bottom: 20px;
	right: 20px;
	padding: 10px 20px;
	background-color: #007bff;
	color: #ffffff;
	text-decoration: none;
	border-radius: 5px;
	z-index: 1000;
  }

  .popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    z-index: 999;
    color: #fff;
}

.popup-content {
    text-align: center;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #fff;
    font-size: 24px;
}