/* PEN STYLES */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,400&display=swap");

@mixin mQ($rem) {
  @media screen and (min-width: $rem) {
    @content;
  }
}

/* Menu Hamburger */
.menu-toggle {
  position: fixed;
  top: 2rem;
  right: 2rem;
  z-index: 1000;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  transition: transform 0.3s ease-in-out; /* Animation pour le burger */
}

.menu-toggle span {
  display: block;
  width: 25px;
  height: 3px;
  margin-bottom: 5px;
  position: relative;
  background: #fff;
  transition: transform 0.3s ease-in-out;
}

/* Modales */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}

.modal h2 {
  margin-top: 0;
}

/* Dropdown Menu */
.dropdown {
  position: fixed;
  top: 2rem;
  right: 2rem;
  z-index: 1000;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 100%; /* positionne le menu à gauche du bouton */
  top: 0;
}

.dropdown-content a {
  color: white; /* Changer la couleur des icônes en blanc */
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out;
  position: absolute;
}

.dropdown-content a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

/* Positionnement des icônes autour du burger */
#home-link {
  top: 50%;
  left: 50%;
  transform: translate(-100%, -50%) rotate(45deg); /* Ajuster la rotation pour qu'elle soit dirigée vers la gauche */
  transform-origin: bottom right; /* Ajuster l'origine de la transformation */
}

#about-link {
  top: 50%;
  left: 50%;
  transform: translate(0, -100%) rotate(45deg); /* Ajuster la rotation pour qu'elle soit dirigée vers la gauche */
  transform-origin: bottom center; /* Ajuster l'origine de la transformation */
}

#contact-link {
  top: 50%;
  left: 50%;
  transform: translate(100%, -50%) rotate(45deg); /* Ajuster la rotation pour qu'elle soit dirigée vers la gauche */
  transform-origin: bottom left; /* Ajuster l'origine de la transformation */
}

h2 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.card {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    transition: 0.6s;
    z-index: 0;
    background-color: #4f46e5;
  }

  &:hover {
    box-shadow: 0.063rem 0.063rem 1.25rem 0.375rem rgb(0 0 0 / 53%);
  }

  &:nth-child(1)::before {
    bottom: 0;
    right: 0;
    clip-path: circle(calc(6.25rem + 7.5vw) at 100% 100%);
  }

  &:nth-child(2)::before {
    bottom: 0;
    left: 0;
    clip-path: circle(calc(6.25rem + 7.5vw) at 0% 100%);
  }

  &:nth-child(3)::before {
    top: 0;
    right: 0;
    clip-path: circle(calc(6.25rem + 7.5vw) at 100% 0%);
  }

  &:nth-child(4)::before {
    top: 0;
    left: 0;
    clip-path: circle(calc(6.25rem + 7.5vw) at 0% 0%);
  }

  p {
    transition: 0.8s;
  }
}

.card:hover::before {
  clip-path: circle(110vw at 100% 100%);
}

.card:hover p {
  color: #fff;
}

.circle {
  @include mQ(62.5rem) {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
}

.card:nth-child(1) .circle {
  background: url("home1.jpg") no-repeat 50% 50% / cover;
  bottom: 0;
  right: 0;
  clip-path: circle(calc(6.25rem + 7.5vw) at 100% 100%);
}

.card:nth-child(2) .circle {
  background: url("home2.jpg") no-repeat 50% 50% / cover;
  bottom: 0;
  left: 0;
  clip-path: circle(calc(6.25rem + 7.5vw) at 0% 100%);
}

.card:nth-child(3) .circle {
  background: url("home3.jpg") no-repeat 50% 50% / cover;
  top: 0;
  right: 0;
  clip-path: circle(calc(6.25rem + 7.5vw) at 100% 0%);
}

.card:nth-child(4) .circle {
  background: url("home4.jpg") no-repeat 50% 50% / cover;
  top: 0;
  left: 0;
  clip-path: circle(calc(6.25rem + 7.5vw) at 0% 0%);
}

body {
  overflow-y: hidden; /* Masquer la barre de défilement verticale */
}

/* Réactiver le défilement pour la grille ou d'autres éléments si nécessaire */
.grid-offer {
  overflow-y: auto; /* Si vous voulez autoriser le défilement pour cette grille */
}
