/* PEN STYLES */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,400&display=swap");

@mixin mQ($rem) {
  @media screen and (min-width: $rem) {
    @content;
  }
}

/* Menu Hamburger */
.menu-toggle {
  position: fixed;
  top: 2rem;
  right: 2rem;
  z-index: 1000;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  transition: transform 0.5s ease-in-out; /* Animation pour le burger */
}

.menu-toggle span {
  display: block;
  width: 25px;
  height: 3px;
  margin-bottom: 5px;
  position: relative;
  background: #fff;
  transition: transform 0.3s ease-in-out;
}

.menu-toggle.active span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.menu-toggle.active span:nth-child(2) {
  opacity: 0;
}

.menu-toggle.active span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

/* Dropdown Menu Icons */
.dropdown-content {
  position: fixed;
  top: 25%;
  right: 2rem;
  z-index: 998;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
}

#home-link i,
#about-link i,
#contact-link i {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  opacity: 0;
  color: #fff;
  position: relative;
}

#home-link i:hover::before,
#about-link i:hover::before,
#contact-link i:hover::before {
  content: attr(data-description);
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.8rem;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

#home-link i:hover::before,
#about-link i:hover::before,
#contact-link i:hover::before {
  opacity: 1;
}

.dropdown-content.active #home-link i,
.dropdown-content.active #about-link i,
.dropdown-content.active #contact-link i {
  opacity: 1;
}

@keyframes slideIn {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Modales */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Ajout de l'ombre pour améliorer le contraste */
  text-align: center; /* Centrer le texte */
}

.modal h2 {
  margin-top: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Fond du titre assombri */
  color: #fff; /* Couleur du texte du titre */
  padding: 10px;
  border-radius: 5px 5px 0 0; /* Coins arrondis uniquement en haut */
  display: flex;
  justify-content: space-between; /* Espacement entre le titre et le bouton */
  align-items: center; /* Centrage vertical */
}

.btn-close {
  background-color: #1f1e6d;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-close:hover {
  background-color: #275bc5;
}

.card {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    transition: 0.6s;
    z-index: 0;
    background-color: #4f46e5;
  }

  &:hover {
    box-shadow: 0.063rem 0.063rem 1.25rem 0.375rem rgb(0 0 0 / 53%);
  }

  &:nth-child(1)::before {
    bottom: 0;
    right: 0;
    clip-path: circle(calc(6.25rem + 7.5vw) at 100% 100%);
  }

  &:nth-child(2)::before {
    bottom: 0;
    left: 0;
    clip-path: circle(calc(6.25rem + 7.5vw) at 0% 100%);
  }

  &:nth-child(3)::before {
    top: 0;
    right: 0;
    clip-path: circle(calc(6.25rem + 7.5vw) at 100% 0%);
  }

  &:nth-child(4)::before {
    top: 0;
    left: 0;
    clip-path: circle(calc(6.25rem + 7.5vw) at 0% 0%);
  }

  p {
    transition: 0.8s;
  }
}

.card:hover::before {
  clip-path: circle(110vw at 100% 100%);
}

.card:hover p {
  color: #fff;
}

.circle {
  @include mQ(62.5rem) {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
}

.card:nth-child(1) .circle {
  background: url("home1.jpg") no-repeat 50% 50% / cover;
  bottom: 0;
  right: 0;
  clip-path: circle(calc(6.25rem + 7.5vw) at 100% 100%);
}

.card:nth-child(2) .circle {
  background: url("home2.jpg") no-repeat 50% 50% / cover;
  bottom: 0;
  left: 0;
  clip-path: circle(calc(6.25rem + 7.5vw) at 0% 100%);
}

.card:nth-child(3) .circle {
  background: url("home3.jpg") no-repeat 50% 50% / cover;
  top: 0;
  right: 0;
  clip-path: circle(calc(6.25rem + 7.5vw) at 100% 0%);
}

.card:nth-child(4) .circle {
  background: url("home4.jpg") no-repeat 50% 50% / cover;
  top: 0;
  left: 0;
  clip-path: circle(calc(6.25rem + 7.5vw) at 0% 0%);
}

.cookie-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  z-index: 9999;
}

.cookie-banner p {
  margin: 0;
  padding: 5px;
}

.cookie-banner button {
  margin: 5px;
  background-color: #fff;
  color: #000;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.cookie-banner button:hover {
  background-color: #000;
  color: #fff;
}
