@charset "UTF-8";
/*PEN STYLES*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,400&display=swap");
#toggle {
  display: block;
  width: 28px;
  height: 30px;
  position: fixed; /* Position fixe pour rester en haut */
  top: 20px; /* Distance du haut de la page */
  right: 20px; /* Distance de la droite de la page */
}

#toggle span:after,
#toggle span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px;
}

#toggle span:after {
  top: 9px;
}

#toggle span {
  position: relative;
  display: block;
}

#toggle span,
#toggle span:after,
#toggle span:before {
  width: 100%;
  height: 5px;
  background-color: #888;
  transition: all 0.3s;
  backface-visibility: hidden;
  border-radius: 2px;
}

/* on activation */
#toggle.on span {
  background-color: transparent;
}

#toggle.on span:before {
  transform: rotate(45deg) translate(5px, 5px);
}

#toggle.on span:after {
  transform: rotate(-45deg) translate(7px, -8px);
}

#toggle.on + #menu {
  opacity: 1;
  visibility: visible;
}

/* menu appearance*/
#menu {
  position: relative;
  color: #999;
  width: 200px;
  padding: 10px;
  margin: auto;
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
  text-align: center;
  border-radius: 4px;
  background: white;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.05);
  /* just for this demo */
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s;
}

#menu:after {
  position: absolute;
  top: -15px;
  left: 95px;
  content: "";
  display: block;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 20px solid white;
}

ul, li, li a {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
}

li a {
  padding: 5px;
  color: #888;
  text-decoration: none;
  transition: all 0.2s;
}

li a:hover,
li a:focus {
  background: #1ABC9C;
  color: #fff;
}

h2 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.card {
  position: relative;
}
.card::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  transition: 0.6s;
  z-index: 0;
  background-color: #4f46e5;
}
.card:hover {
  box-shadow: 0.063rem 0.063rem 1.25rem 0.375rem rgba(0, 0, 0, 0.53);
}
.card:nth-child(1)::before {
  bottom: 0;
  right: 0;
  -webkit-clip-path: circle(calc(6.25rem + 7.5vw) at 100% 100%);
          clip-path: circle(calc(6.25rem + 7.5vw) at 100% 100%);
}
.card:nth-child(2)::before {
  bottom: 0;
  left: 0;
  -webkit-clip-path: circle(calc(6.25rem + 7.5vw) at 0% 100%);
          clip-path: circle(calc(6.25rem + 7.5vw) at 0% 100%);
}
.card:nth-child(3)::before {
  top: 0;
  right: 0;
  -webkit-clip-path: circle(calc(6.25rem + 7.5vw) at 100% 0%);
          clip-path: circle(calc(6.25rem + 7.5vw) at 100% 0%);
}
.card:nth-child(4)::before {
  top: 0;
  left: 0;
  -webkit-clip-path: circle(calc(6.25rem + 7.5vw) at 0% 0%);
          clip-path: circle(calc(6.25rem + 7.5vw) at 0% 0%);
}
.card p {
  transition: 0.8s;
}

.card:hover::before {
  -webkit-clip-path: circle(110vw at 100% 100%);
          clip-path: circle(110vw at 100% 100%);
}

.card:hover p {
  color: #fff;
}

@media screen and (min-width: 62.5rem) {
  .circle {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
}

.card:nth-child(1) .circle {
  background: url("home1.jpg") no-repeat 50% 50%/cover;
  bottom: 0;
  right: 0;
  -webkit-clip-path: circle(calc(6.25rem + 7.5vw) at 100% 100%);
          clip-path: circle(calc(6.25rem + 7.5vw) at 100% 100%);
}

.card:nth-child(2) .circle {
  background: url("home2.jpg") no-repeat 50% 50%/cover;
  bottom: 0;
  left: 0;
  -webkit-clip-path: circle(calc(6.25rem + 7.5vw) at 0% 100%);
          clip-path: circle(calc(6.25rem + 7.5vw) at 0% 100%);
}

.card:nth-child(3) .circle {
  background: url("home3.jpg") no-repeat 50% 50%/cover;
  top: 0;
  right: 0;
  -webkit-clip-path: circle(calc(6.25rem + 7.5vw) at 100% 0%);
          clip-path: circle(calc(6.25rem + 7.5vw) at 100% 0%);
}

.card:nth-child(4) .circle {
  background: url("home4.jpg") no-repeat 50% 50%/cover;
  top: 0;
  left: 0;
  -webkit-clip-path: circle(calc(6.25rem + 7.5vw) at 0% 0%);
          clip-path: circle(calc(6.25rem + 7.5vw) at 0% 0%);
}

body {
  overflow-y: hidden; /* Masquer la barre de défilement verticale */
}

/* Réactiver le défilement pour la grille ou d'autres éléments si nécessaire */
.grid-offer {
  overflow-y: auto; /* Si vous voulez autoriser le défilement pour cette grille */
}/*# sourceMappingURL=styles.css.map */